.container {
  height: 100vh;
  margin: 20px;
  border: 1px solid blue;
  text-align: center;
  /*If we give display flex, blocks settle next to each other  */
  display: flex;
  /*we may different direction to flex blocks through flex-direction. For example: row(x-axis and it is auto though we aren't given),row-rewerse(blocks settle with  reverse order),column(y-axis),column-reverse(blocks settle with  reverse order in y -axis)
    */
  /* flex-direction: column-reverse; */
  /*if we change monitor's size blocks don't settle itself place, we use flex-wrap and it wraps flexible position*/
  /*flex -wrap  accepts wrap,nowrap(auto),wrap-reverse(blocks settle with  reverse order in the smaller place) */
  /* flex-wrap: wrap-reverse; */
  /*flex-flow is flow-wrap+flow-direction.it contain in directions and wrap functions.now we shut off flex-wrap and flex-direction,then shut on flex-flow.it may give flex-wrap elemnts also flex direction elements when they write nearly each other with empty space */
  /* flex-flow: wrap column-reverse; */
  /* justify-content settles blocks in x-axis's center.it gives several useful values.they are:
  space-between -   items have space between them,
  center- items settle in center
  space-evenly Items  have equal space around them
  flex-start is default value
  flex-end Items are positioned at the end of the container */
  /* justify-content: space-between; */
  /* align-items settles blocks in y-axis's center.it gives several useful values.they are:
  space-between -  items have space between them,
  center- items settle in center
  space-evenly Items  have equal space around them
  flex-start is default value
  flex-end Items are positioned at the end of the container */
  align-items: center;
  /* align-content, if items are more and  monitor size is small,align content divide empty space each bloks' row*/
  align-content: center;
  /* gap is use inside on margin,if we give margin to elemnts two elemnt's margins add and  appear unexpected space between blocks. gap means space between blocks.gap gives properties.they are row-gap separates empty space every row blocks,
  column-gap separates empty space every column blocks*/
  /* gap: 25px; */
  /* flex-direction: column; */
  row-gap: 50px;
  column-gap: 50px;
}
.item {
  height: 50px;
  width: 50px;
  border: 2px dotted red;
  /* margin: 10px; */
}

.item1 {
  /* flex: 1; */
}
/*flex ratio give n number,we divide column or row to n+1 part and given part possession n part its  */
.item2 {
  /* flex: 1; */
}
/*If we give value to other items,column or row divides total ratio's parts and every other possession itself part*/
