.red-blocks {
  display: flex;
  gap: 20px;
}
.first-red {
  width: 100px;
  height: 100px;
  background-color: rgb(204, 102, 102);
  border: 5px white;
  border-top-left-radius: 40px;
}
.second-red {
  width: 100px;
  height: 100px;
  background-color: rgb(204, 102, 102);
  border: 5px white;
  border-top-right-radius: 40px;
}
.third-red {
  width: 100px;
  height: 100px;
  background-color: rgb(204, 102, 102);
  border: 5px white;
  border-bottom-left-radius: 40px;
}
.fourth-red {
  width: 100px;
  height: 100px;
  background-color: rgb(204, 102, 102);
  border: 5px white;
  border-bottom-right-radius: 40px;
}


