/* .circle {
  background: red;
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 50%;
} */
.message-ball {
  color: white;
  /* margin-top: 15px; */

  align-items: center;
  display: flex;
  justify-content: center;
}
