* {
  margin: 0;
  padding: 0;
}
.contain {
  display: flex;
  justify-content: space-evenly;
}
table {
  width: fit-content;
  height: fit-content;
  margin: 10%;
  border: 2px black solid;
  border-collapse: collapse;
  align-items: center;
  text-align: center;
  font-size: 24px;
}
tr,
td {
  border: 2px black, solid;
}
th,
td {
  width: 64px;
  height: 64px;
}
[title]{
    background-color: rgb(153, 128, 17);
}
