* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* We create RWD for convenient appearance our website.
devices is separated according to screen size . 
extra small devices (phones,600px and down)
Small devices (portrait tablets and large phones,600px and up)
Medium devices (Landscape tablets,768px and up)
Large devices (laptops,desktops, 992px and up)
extra large devices (large laptops and desktops,1200px and up) */
/* .container { */
/* border: 1px red solid; */
/* display: grid; */
/* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
/* display: flex; */
/* gap: 10px; */
/* We give fixed value to grid-auto-rows and all elements on the every row change ,If we give this value to grid-template-columns only elements on the first row elements change */
/* grid-auto-rows: 300px;
  /* We give wrap to flex wrap when not fit elements fall other rows on the screen .if we use grid codes lesser aboves */
/* flex-wrap: wrap; */
/* justify-content: center; */
/* overflow: hidden; */
/* overflow-x: scroll; */
/* } */

/* .card {
  height: 300px;
  /* max-width: 250px; */
/* width: 200px; */
/* min-width: 100px; */
/* border: 1px blue solid; */
/* } */
/* We write media query for other display sizes.Its have screen and all properties we add and words for enter other display sizes.In the media We only write changeable styles */
/* @media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    color: blue;
  }
} */
/* columns appear 6 when display size is bigger 1200px,if display size is smaller than 1200px columns appear 3  */
/* If someone want print site datas we stop this through display none in the media query */
/* @media print {
  body {
    display: none;
  }
} */
/* We will rotate phones and we change styles accordingly it */
/* @media (orientation: landscape) {
  body {
    display: flex;
  }
} */

/* 50-Lesson */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  background-color: #5855e7;
  height: 145px;
  align-items: center;
}
.navItem {
  display: flex;
  gap: 42px;
}

.navItem > h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
}

.nav > button {
  width: 276px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: larger;
}
.body {
  display: flex;
  height: 642px;
  padding: 0 80px;
}
.bodyItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: 2px red solid; */
  justify-content: center;
  gap: 42px;
}
.txt > h1 > span {
  color: blue;
}
.bts {
  display: flex;
  gap: 40px;
  align-items: center;
}
.bts > button {
  width: 45%;
  height: 50px;
  background-color: rgb(87, 102, 236);
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: larger;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img > img {
  height: 400px;
  width: 300px;
  padding: 40px;
}
/* .img {
  background-image: url(./pupil.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 50px;
} */
.nav > .menu {
  display: none;
}
@media screen and (100px<width<900px) {
  .body {
    flex-direction: column-reverse;
  }
  .navItem {
    display: none;
  }
  .nav > button {
    display: none;
  }
  .nav > .menu {
    display: block;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
  }
}
